services:
  
  celery:
    image: citadelbv/javguru-parser-downloader:latest
    container_name: jav-guru-main-service-celery
    env_file:
      - .env
    networks:
      - jav-guru-main
    command: "celery -A app.infra.queue worker --loglevel=INFO --pool=prefork --concurrency=4"

  beat:
    image: citadelbv/javguru-parser-downloader:latest
    container_name: jav-guru-main-service-beat
    env_file:
      - .env
    networks:
      - jav-guru-main
    command: "celery -A app.infra.queue beat --loglevel=INFO"

networks:
  jav-guru-main:
